.reason {

  &__info {
    padding-top: 40px;
    padding-right: 20px;
    padding-bottom: 42px;
    padding-left: 20px;
  }

  &__info--blue {
    position: relative;

    color: #ffffff;

    background: #81b3d2;
  }

  &:first-of-type &__info--blue {
    padding-top: 80px;
    margin-top: 10px;
  }

  &:first-of-type &__info--blue:first-of-type::before {
    position: absolute;
    left: 0;
    top: 0;

    display: block;
    width: 100%;
    height: 37px;

    background-image: url("../img/bg-triangle.svg");
    background-size: 100% 100%;
    background-repeat: no-repeat;

    content: "";
  }

  &__info--gray {
    position: relative;

    color: #000000;
    background: #eeeeee;
  }

  &:not(:last-child) &__info--gray::after {
    position: absolute;
    bottom: 0;
    left: 20px;

    display: block;
    width: calc(100% - 40px);
    height: 1px;

    background: #d6d6d6;
    content: "";
  }

  &__info--gray .reason__text {
    color: #333333;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 0;

    font-weight: 700;
    font-size: 18px;
  }

  &__number {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  &__text {
    margin-top: 0;
    margin-bottom: 0;

    line-height: 21px;
  }

  &__img {
    width: 100%;
  }

  &__list {
    padding-right: 20px;
    padding-bottom: 35px;
    padding-left: 20px;
    margin-top: 0;
    margin-bottom: 0;

    list-style: none;
  }

  &__list-block {
    position: relative;

    padding-top: 34px;
    padding-left: 50px;

    text-align: left;
    list-style: none;
  }

  &__list-block::before {
    top: 23px;
    left: 0;
    position: absolute;

    display: block;

    background-size: 100% 100%;

    content: "";
  }

  &__list-block--home::before {
    width: 39px;
    height: 37px;

    background-image: url("../img/icon-house.svg");
  }

  &__list-block--gifts::before {
    left: 5px;

    width: 32px;
    height: 38px;

    background-image: url("../img/icon-gift.svg");
  }

  &__list-block--food::before {
    width: 40px;
    height: 35px;

    background-image: url("../img/icon-burger.svg");
  }

  &__list-title {
    font-weight: 700;
    font-size: 18px;
  }

  &__list-item {
    margin-top: 15px;

    color: #333333;
    line-height: 21px;
  }
}
